# Native build output
/renderer/build/

# Common CMake output
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# clang cache
/renderer/.cache/

# Editor/runtime files
.nvimlog
.DS_Store
